[Desktop Entry]
Encoding=UTF-8
Name=LasVegasCoin
Comment=LasVegasCoin P2P Cryptocurrency
Comment[fr]=LasVegasCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LasVegasCoin, eşten eşe kriptografik sanal para birimi
Exec=lasvegascoin-qt %u
Terminal=false
Type=Application
Icon=lasvegascoin128
MimeType=x-scheme-handler/lasvegascoin;
Categories=Office;Finance;
